<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Películas Nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slidesshow-poster [peliculas]="peliculasRecientes" class="poster"></app-slidesshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slidesshow-poster [peliculas]="populares" class="poster"></app-slidesshow-poster>

  <!--<swiper-container
    [attr.slides-per-view]="slideOpts.slidesPerView"
    [attr.free-mode]="slideOpts.freeMode">
    <swiper-slide *ngFor="let pelicula of peliculasRecientes">

      <ion-card>
        <img [src]="pelicula.backdrop_path | imagen">
      </ion-card>

    </swiper-slide>
  </swiper-container>-->

</ion-content>
|
